.App {
  /*text-align: center;*/
  max-width: 600px;
}

table {
  margin: 0 auto;
}

h2 {
  text-align: center;
}

/* For highlight numbers */
h3 {
  text-align: center;
}

/* Table header */
h4 {
  margin-bottom: 0px;
  font-weight: bold;
}

p {
  /*text-align: center;*/
}

/* Family size selection button group */

div.family-button-bar-container{
  text-align: center;
  margin: 0 0 10px;
}

.family-button-bar button, .family-button-bar div {
  /*margin: auto;*/
  height: 40px;
  width: 45px;
  padding: 0;
}

/*.family-button {
  height: 40px;
}*/

img.family-icon {
  height: 25px;
  width: 25px;
  pointer-events: none; /* Prevents interference with button click handling */
}

/* Wage display control */

div.wage-display-control-container {
  text-align: center;
  margin: 0 0 10px;
}

/* Custom table forms */
input.form-control {
  text-align: right;
}
span.input-group {
  max-width: 100px;
  float: right;
}

.custom-total {
  padding-right: 12px;
}

/* Other stuff */

.dynamic-text {
  font-weight: bold;
}

th {
  padding-left: 4px;
}

tr {
  vertical-align: middle;
}


/*td.col-salary, td.monthly-cost, td.annual-cost {
  color: #666;
}*/

.col-label {
  width: 40%;
}

.col-salary {
  width: 20%;
  text-align: center;
  /*padding-right: 4px;*/
}

.col-salary.median {
  font-weight: bold;
}


/* Cost table */
.cost-table {
  max-width: 400px;
}

.cost-table tbody tr:last-child {
  font-weight: bold;
}

td.cost-label {
  padding-left: 4px;
}

.cost-monthly, .cost-annual {
  text-align: right;
  padding-right: 4px;
}


/* Wage table highlighting */

.wage-box {
  text-align: center;
}

.legend {
  text-align: center;
}

span.legend {
  padding: 5px 5px;
}

td.above-threshold, span.legend.above-threshold {
  background-color: #abd9e9;

}
td.below-threshold, span.legend.below-threshold{
  background-color: #fdae61;

}
td.null-value {
  background-color: #eee;
}


